@font-face {
    font-family: ClearSans;
    src: url(ClearSans-Regular.ttf);
}

body, html {
    height: 100%;
    font-family: ClearSans, sans-serif;
    color: #776e65;
    background: #faf8ef;
}

.background{
    width: 730px;
    height: 730px;
    background-color: #bbada0;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}
.block {
    width: 160px;
    height: 160px;
    background-color: #cdc0b4;
    margin: 15px;
    position: absolute;
    text-align: center;
    line-height: 160px;
    font-weight: bold;
    font-size: 75px;
    border-radius: 4px;
}
.move {
    transition: left 0.05s, bottom 0.05s;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.github {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 10px;
}

button {
    position: absolute;
    right: 20px;
    top: 20px;
}